[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
	branch = master
[submodule "external/portable-file-dialogs"]
	path = external/portable-file-dialogs
	url = git@github.com:samangh/portable-file-dialogs.git
	branch = main
